<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">
        <header>
                <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron bg-1">
                <h2> About Us </h2>
                <h3 class="margin">Who Am I?</h3>
                <img src="https://www.w3schools.com/bootstrap/bird.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
                <h3>I'm an adventurer</h3>
            </div>
        </main>

        <footer>
                <% include ../partials/footer %>
        </footer>
    </body>
</html>