<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">
        <header>
                <% include ../partials/header %>
        </header>

        <main>
                
                <div class="jumbotron bg-2">
                        <h2> Employees Details</h2>

                        <div class="list-group">
                            <% employees.forEach((employee) => { %>
                                <a href="/employee/<%= employee.empId %>" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <%= employee.empDesignation %>
                                </h4>
                                <p class="list-group-item-text">
                                    <%= employee.empName %>
                                </p>
                                </a>
                            <% }) %>
                        </div>
                        
                </div>
        </main>

        <footer>
                <% include ../partials/footer %>
        </footer>
    </body>
</html>